<?xml version="1.0"?>
<launch>

  <!-- Load joint controller configurations from YAML file to parameter server -->
  <rosparam command="load" file="$(find simplified)/configs/joint_controller_params.yaml"/>

  <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
	output="screen" ns="/walkernew" 
	args="joint_state_controller 
	      right_spinning_wheel_controller 
	      left_spinning_wheel_controller 
	      left_turning_wheel_controller 
	      right_turning_wheel_controller 
	      back_left_turning_wheel_controller 
	      back_right_turning_wheel_controller"/>


  <!-- convert joint states to TF transforms for rviz, etc -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="false" output="screen">
    <remap from="/joint_states" to="/walkernew/joint_states" />
  </node>
</launch>
