<?xml version="1.0"?>
<launch>
  <arg name="rvizconfig" default="$(find walkernew)/config/walkernew.rviz" /> 
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rvizconfig)" required="true" />

  <arg name="rgb_topic"               default="/camera/rgb/image_raw" />
  <arg name="depth_registered_topic"  default="/camera/depth_registered/image_raw" />
  <arg name="camera_info_topic"       default="/camera/rgb/camera_info" />
  <arg name="database_path"           default="~/.ros/rtabmap.db"/>
  <arg name="rtabmapviz_cfg"          default="-d $(find rtabmap_ros)/launch/config/rgbd_gui.ini" />
  <node pkg="rtabmap_ros" type="rtabmapviz" name="rtabmapviz" args="$(arg rtabmapviz_cfg)" output="screen">
      <param name="subscribe_depth"       type="bool"   value="true"/>
      <param name="subscribe_scan"        type="bool"   value="false"/>
      <param name="subscribe_scan_cloud"  type="bool"   value="false"/>
      <param name="subscribe_odom_info"   type="bool"   value="false"/>
      <param name="frame_id"                    type="string" value="base_footprint"/>
      <param name="wait_for_transform_duration"  type="double"   value="0.2"/>
      <param name="publish_tf"          type="bool"   value="false"/>   

      <remap from="rgb/image"       to="$(arg rgb_topic)"/>
      <remap from="depth/image"     to="$(arg depth_registered_topic)"/>
      <remap from="rgb/camera_info" to="$(arg camera_info_topic)"/>
      <remap from="odom"  to="odometry/filtered"/>
  </node>

</launch>
