#ignore library folders that aren't actually ours
find-object/*
hectorquad/*
hector_slam/*
iai_kinect2/*
maskor_navigation/*
rtabmap_ros/*
scan_tools/*
slam_gmapping/*
teb_local_planner_tutorials/*
teleop_twist_keyboard/*
walkerOld/*
walkernew/*
#ignore temp files
*~
CMakeLists.txt
robot_localization/*
